*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: url(https://gearpatrol.com/wp-content/uploads/2016/07/camera-rental-gear-patrol-lead-2.jpg)no-repeat;
	background-size: cover;
	background-position: center;
	background-blend-mode: multiply;
}

header{
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	padding: 20px 50px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 99;
}

.logo{
	font-size: 2em;
	color: crimson;
	user-select: none;
}

.navigation{
	margin-left: 630px;
}

.navigation a{
	position: relative;
	font-size: 1.5em;
	color: black;
	text-decoration: none;
	font-weight: 500;
	margin-left: 40px;
	list-style-type: none;
}

.navigation a::after{
	content: '';
	position: absolute;
	left: 0;
	bottom: -6px;
	width: 100%;
	height: 3px;
	background: crimson;
	border-radius: 5px;
	transform: scaleX(0);
	transition: transform .5s;
}

.navigation a:hover::after{
	transform: scaleX(1);
}

.login-container {
    display: flex;
    align-items: center;
}

.login-container .b_login {
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1.1em;
    color: crimson;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.login-container .b_login:hover {
    background: black;
    color: #fff;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.login-form input[type="text"],
.login-form input[type="password"] {
    width: 300px;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.login-form button[type="submit"] {
    width: 130px;
    height: 50px;
    background: black;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 1.1em;
    font-weight: 500;
    cursor: pointer;
    transition: .5s;
}

.login-form button[type="submit"]:hover {
    background: crimson;
}

.navigation .b_login{
	width: 130px;
	height: 50px;
	background: transparent;
	border: 2px solid black;
	outline: none;
	border-radius: 6px;
	cursor: pointer;
	font-size: 1.1em;
	color: crimson;
	font-weight: 500;
	margin-left: 40px;
	transition: .5s;
}

.navigation .b_login:hover{
	background: black;
	color: #fff;
}

.heading{
	padding-top: 7rem;
	text-align: center;
	padding-bottom: 2rem;
	font-size: 2.5rem;
	color: black;
}

.heading span{
	position: relative;
	z-index: 0;
}

.heading span::before{
	content: '';
	position: absolute;
	bottom: 0.4rem;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	background: crimson;
	clip-path: polygon(0 90%, 100% 80%, 100% 100%, 0% 100%);
}

.vehicles .vehicles-slider{
	padding-bottom: 5rem;
}

.vehicles .vehicles-slider .box {
	width: 410px;
	height: 550px;
	text-align: center;
	padding: 2rem;
	backdrop-filter: blur(30px);
	border: 1px solid rgba(255, 255, 255, 0.342);
	box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
	border-radius: 10px;
	margin-bottom: 2rem;
	transition: transform 0.3s ease-in-out;
}

.vehicles .vehicles-slider .box:hover{
	transform: translateY(-10px);
}

.vehicles .vehicles-slider .box img{
	width: 65%;
}

.vehicles .vehicles-slider .box .content{
	padding-top: 1rem;
}

.vehicles .vehicles-slider .box .content h3{
	font-size: 1.5rem;
	color: black;
	margin-bottom: 1rem;
}

.vehicles .vehicles-slider .box .content .price{
	font-size: 2.5rem;
	color: crimson;
	padding: 1rem 0;
	font-weight: bolder;
}

.vehicles .vehicles-slider .box .content .price span{
	font-size: 1.7rem;
	color: var(--light-color);
	font-weight: normal;
}

.vehicles .vehicles-slider .box .content p{
	font-size: 1.2rem;
	padding: 1rem;
	padding-top: 1.5rem;
	border-top: var(--border);
	color: var(--light-color);
}

.vehicles .vehicles-slider .box .content p span{
	color: crimson;
	font-size: .8rem;
	padding: 0.5rem;
}

.swiper-pagination-bullet-active{
	background: crimson;
}

.btn {
    display: inline-flex;
    align-items: center;
    padding: 10px;
    background-color: #eaeaea;
    border-radius: 5px;
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.btn img {
    width: 0rem;
    height: 3rem;
    margin-left: 5px;
	object-fit: cover;
}

.wrapper {
	margin-top: 4.5rem;
	position: relative;
	width: 410px;
	height: 430px;
	background: transparent;
	border: 2px solid rgba(255, 255, 255, .5);
	border-radius: 20px;
	box-shadow: 0 0 30px rgba(0, 0, 0, .5);
	display: flex;
	justify-content: center;
	align-items: center;
	transition: height .2s ease;
}
